[DEFAULT]
name=John Doe
email=johndoe@example.com
host=myhost
fingerprint=XXXXXXXX # PGP Fingerprint
country=US
state=CA
locality=Mountain View
common_name=myuser@myhost
organization=myhost

[myserver.com]
lifetime=1y # Default to 18h
email=johndoe@myserver.com
url=ca.myserver.com # Location of mtls server
issuer_name=My CA # The name of the root certificate
