[DEFAULT]
name=John Doe
email=johndoe@example.com
host=myhost
fingerprint=XXXXXXXX # PGP Fingerprint
country=US
state=CA
locality=Mountain View
common_name=myuser@myhost
organization=myhost

[myserver.com]
lifetime=18 # Default to 18 hours, time must be in hours
email=johndoe@myserver.com
url=https://ca.myserver.com # Location of mtls server
