[DEFAULT]
name=John Doe
email=johndoe@example.com
; PGP Fingerprint
fingerprint=XXXXXXXX
country=US
state=CA
locality=Mountain View
organization=myhost

[myserver.com]
; Default to 18 hours, time must be in seconds (64800)
; the below example is for 1 hour
lifetime=3600
email=johndoe@myserver.com
; Location of mtls server
url=https://ca.myserver.com
