[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
coverage = "==5.3"
coveralls = "==2.1.2"
docker = "==4.3.1"

[packages]
click = "==7.1.2"
cryptography = "==3.1.1"
pyOpenSSL = "==19.1.0"
pycodestyle = "==2.6.0"
python-gnupg = "==0.4.6"
requests = "==2.24.0"
urllib3 = "==1.25.10"
