[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pycodestyle = "==2.5.0"
coverage = "==4.5.2"
coveralls = "==1.6.0"
docker = "==3.7.1"

[packages]
click = "==7.0"
cryptography = "==2.4.2"
pyOpenSSL = "==19.0.0"
pycodestyle = "==2.4.0"
python-gnupg = "==0.4.4"
requests = "==2.21.0"
urllib3 = "==1.24.3"
