[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "==2.4.0"

[packages]
cryptography = "==2.4.2"
python-gnupg = "==0.4.3"
requests = "==2.21.0"
click = "==7.0"
pyOpenSSL = "==19.0.0"
python-nss = "==1.0.1"

[requires]
python_version = "3.7"
