Source: mtls
Section: utils
Priority: optional
Maintainer: Danny Grove <dgrove@hashbang.sh>
Uploaders:
    Danny Grove <dgrove@hashbang.sh>
Build-Depends:
    dh-python,
    debhelper-compat (= 12),
    libnss3,
    python3-all,
    python3-setuptools,
    python3-setuptools-scm,
    python3-click,
    python3-cryptography,
    python3-pyopenssl,
    python3-request,
    python3-urllib3,
Vcs-git: https://github.com/drGrove/mtls-cli.git
Vcs-Browser: https://github.com/drGrove/mtls-cli

Package: mtls
Architecture: all
Depends:
    libnss3,
    python3-click,
    python3-cryptography,
    python3-pyopenssl,
    python3-request,
    python3-urllib3,
    ${python3:Depends},
    ${misc:Depends},
    gnupg2,
Description: A short-lived certificate tool based on the Zero Trust network model

