Source: mtls
Section: utils
Priority: optional
Maintainer: Danny Grove <dgrove@hashbang.sh>
Build-Depends:
    dh-python,
    debhelper (>= 11~),
    python3-all,
    python3-setuptools,
    python3-setuptools-scm,
    python3-click,
    python3-cryptography,
    python3-openssl,
    python3-requests,
    python3-urllib3,
    python3-gnupg,
Vcs-git: https://github.com/drGrove/mtls-cli.git
Vcs-Browser: https://github.com/drGrove/mtls-cli
X-Python3-Version: >= 3.7

Package: mtls
Architecture: all
Depends:
    ${python3:Depends},
    python3-click,
    python3-cryptography,
    python3-openssl,
    python3-requests,
    python3-urllib3,
    python3-gnupg,
    ${misc:Depends},
    libnss3,
    gnupg2,
Description: Short-lived certificate tool based on the Zero Trust network model
 mtls provides a tool for creating short lived X.509 certificates for
 authentication to services while using GnuPG web-of-trust for the initial
 authentication mechanism for ensuring a user is allowed to interact and
 receive X.509 certificates
